body {
  margin: 0;
  font-family: "Ariel", "Ubuntu", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: cursive;
  font-size: large;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  width: 100%;
  box-shadow: inset 0 0 4px rgba(129, 128, 128, 0.829);
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
  font-family: cursive;
}

.search input:focus {
  outline: none;
}

.dark-mode {
  background-color: rgba(5, 1, 17, 0.822);
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note.new {
  background-color: #d7b067;
  box-shadow: inset 0 0 5px #a18144;
  font-family: cursive;
}

textarea {
  border: none;
  resize: none;
  background-color: #d7b067;
  font-family: cursive;
}

textarea:focus {
  outline: none;
}

.note {
  background-color: #faa2a2;
  border-radius: 2px;
  box-shadow: inset 0 0 5px #974c4c;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  font-family: cursive;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: cursive;
  font-weight: bold;
}
.delete-icon {
  cursor: pointer;
}
.save {
  background-color: #f7d67b;
  border: none;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  box-shadow: inset 0 0 5px #5f3e02;
  font-family: cursive;
}
.save:hover {
  background-color: #f7d26e;
  cursor: pointer;
  font-family: cursive;
}
.save:active {
  background-color: #ceaa47;
  font-family: cursive;
}
